@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ZenMaruGothic Regular';
  src: url('/font/ZenMaruGothic-Regular.woff2');
  font-weight: normal;
  font-display: swap;
}
